[submodule "packages/php-telegram-bot"]
	path = packages/php-telegram-bot
	url = git@github.com:php-telegram-bot/core.git
[submodule "packages/fluent-keyboard"]
	path = packages/fluent-keyboard
	url = git@github.com:php-telegram-bot/fluent-keyboard.git
